<p>NEW EVENT</p>
    	<%= form_for :event, url: events_path do |f| %>
    	<%= f.text_field :name, placeholder: "NAME" %>
    	<%= f.text_field :venue_id, placeholder: "VENUE ID" %>
    	<%= f.text_field :category_id, placeholder: "CATEGORY ID" %>
    	<%= f.text_field :user_id, placeholder: "USER ID" %>
    	<%= f.text_field :starts_at, placeholder: "START AT" %>
    	<%= f.text_field :ends_at, placeholder: "END AT" %>
    	<%= f.text_field :hero_image_url, placeholder: "HERO IMAGE" %>
		<%= f.text_area :extended_html_description,  id: "url", placeholder: "MESSAGE" %>
		<%= f.submit "SEND" %>
	<% end %>